@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

body [xml|lang]{
	font-style: italic;
}

/* Begin dedication CSS */
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

[epub|type~="z3998:salutation"]{
	text-indent: 2em;
}

#dedication header,
#dedication footer{
	margin: 2em auto;
}

#dedication b{
	padding-left: 6em;
}

#dedication time{
	padding-left: 1em;
}
/* End dedication CSS */

/* Begin bridgehead CSS */
[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="bridgehead"] i{
	font-style: normal;
}
/* End bridgehead CSS */

/* Begin verse CSS */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}
/* End verse CSS */

[epub|type~="z3998:subchapter"] header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

#preface ul{
	list-style-type: none;
}
